.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 20px;

  .close {
    position: absolute !important;
    top: 5px !important;
    right: 370px !important;
    z-index: 9999 !important;
  }
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  margin-top: 10px;

  .textWrapper {
    flex-direction: column;
    padding-left: 10px;

    .del {
      color: rgb(255, 96, 96);
      margin: 0;
      text-align: right;

      svg {
        cursor: pointer;
      }
    }

    p {
      font-size: 16px;
      margin: 12px 0;
    }
  }
}

/* iPhone Plus Portrait and Landscape */
@media screen and (max-device-width: 736px), screen and (max-width: 736px) {
  .content {
    width: 370px !important;
    margin-top: 20px !important;

    .close {
      position: absolute !important;
      top: 5px !important;
      left: 5px !important;
      z-index: 9999 !important;
    }

    img {
      height: 200px !important;
      width: auto !important;
    }

    .del {
      margin-top: -10px !important;
    }
  }
}

@media screen and (max-device-width: 375px), screen and (max-width: 375px) {
  .content {
    width: 375px !important;
  }
}
