.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* iPhone Plus Portrait and Landscape */
@media screen and (max-device-width: 736px), screen and (max-width: 736px) {
  .mainContent {
    flex-direction: column !important;
  }
}
