@import "./variables";

.list {
  margin: 0 10px;
  min-width: 240px;
  padding: 0 5px;
  margin-left: 15px;
  font-family: $custom-font !important;
}

.menuSelected {
  text-decoration: none !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
}
