@import "./variables";

.history,
.checkout {
  max-width: 1200px;
  margin: 50px 120px;
  font-size: 15px !important;

  .title {
    padding-left: 50px !important;
    font-size: 16px !important;
    font-weight: bold;
    color: #ffffff;
  }

  .MuiTableCell-root.MuiTableCell-head {
    font-size: 15px !important;
    font-weight: bold !important;
  }

  .header {
    padding-left: 5px !important;
  }

  th {
    max-width: 250px !important;
    font-size: 15px !important;
    font-weight: bold;
    color: #ffffff;
  }

  td {
    max-width: 250px !important;
    font-size: 15px !important;
    font-weight: bold;
    color: #ffffff;
  }

  img {
    width: 50%;
  }

  .qty {
    min-width: 120px;
    padding: 5px;
    margin: 0 15px;
    font-size: 16px;
    border: 1px solid $text-color;
    border-radius: 2px;
  }

  .del {
    color: rgb(255, 96, 96);
    margin: 0;
    padding-left: 0;

    svg {
      cursor: pointer;
    }
  }

  .total {
    margin-right: 20px;
    text-align: right;
    color: #ffffff;

    button {
      color: #fff;
      background-color: #000;
      font-size: 16px;
      margin-right: -20px;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}

.empty {
  text-align: center;
  min-height: 100vh;
  padding: 100px;
  color: #ffffff;
}

/* iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 1) {
  .checkout {
    margin: 50px !important;
  }
}

/* iPhone Plus Portrait and Landscape */
@media screen and (max-device-width: 736px), screen and (max-width: 736px) {
  // Order History
  .history,
  .checkout {
    margin: 50px 0 !important;

    h1 {
      margin-left: 25px !important;
    }

    .historyTable {
      width: 150% !important;
    }
  }

  .history .total {
    width: 145% !important;
  }

  // Checkout
  .checkout {
    .title {
      min-width: 200px !important;
      padding-left: 15px !important;
    }

    img {
      width: 85% !important;
    }

    .total button {
      margin-right: 0 !important;
    }
  }
}
