@import "./_variables.scss";

:root {
  --swiper-navigation-size: 30px !important;
  --swiper-theme-color: rgb(147, 148, 147, 0.7) !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $custom-font !important;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: $text-color !important;
}

input,
button {
  outline: none;
  text-decoration: none;
  font-family: $custom-font !important;
}

button {
  padding: 12px 55px;
  background: none;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    border-color: rgb(43, 43, 43);
  }
}

* {
  box-sizing: border-box;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*** Home Slick Slider ***/
// .slick-slider {
//   .slick-dots {
//     bottom: 20px !important;
//   }
// }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** Material UI ***/
.MuiInputBase-root,
.MuiMenuItem-root {
  font-family: $custom-font !important;
}

// Category Menu on the left
.MuiTouchRipple-root {
  width: 94%;
}
.MuiTouchRipple-rippleVisible {
  width: 350px !important;
}

// Mobile Menu
.closeIcon {
  position: absolute;
  right: 7rem;
  top: 0.5rem;
  color: #fff;
  z-index: 1400;
}

// Sign In / Create Account
.MuiTabs-scroller.MuiTabs-fixed .MuiTabs-indicator {
  height: 1px !important;
  background-color: #272727 !important;
}
// .PrivateTabIndicator-root-9 {
//   height: 1px !important;
// }
// .PrivateTabIndicator-colorSecondary-11 {
//   background-color: #272727 !important;
// }
.MuiInputLabel-root,
.MuiFormHelperText-root {
  font-family: $custom-font !important;
}
.MuiFormHelperText-root {
  color: #ff5050 !important
  ;
}
.MuiInput-underline:after {
  border-bottom: $theme-blue !important;
}
.MuiTabs-flexContainer {
  display: flex;
  justify-content: center;
}

// Item List in category
.MuiCard-root {
  min-height: 550px;
}
.MuiCardContent-root {
  padding-bottom: 0px !important;
}
.MuiImageList-root {
  margin: -6px 20px 35px 10px !important;
}
.MuiPopover-root .MuiPaper-elevation8 {
  box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0), 0px 3px 4px 2px rgba(0, 0, 0, 0.01) !important;
}

// Item
.MuiGrid-grid-xs-12 {
  flex-basis: unset;
}
.MuiNativeSelect-icon {
  color: #ffffff !important;
}
.selectForm .MuiInputBase-root.MuiInput-root.MuiInput-underline:before,
.selectForm .MuiInputBase-root.MuiInput-root.MuiInput-underline:after {
  border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
}

// Sign In/ Create Acc Modal
.signinModal {
  position: relative;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

// Loading Icon
.MuiCircularProgress-colorPrimary {
  color: #bbbbbb !important;
  width: 20px !important;
  height: 20px !important;
}

// Checkout & Order History
.MuiTableCell-root {
  font-family: $custom-font !important;
}

// Create Account
.DayPicker-wrapper {
  padding-bottom: 0px !important;
  border-radius: 4px !important;
  height: 90% !important;
}
// FIXME: the selected day circle
.DayPicker-Day.DayPicker-Day--selected {
  padding: 4px 8px !important;
  margin: 0 2px !important;
  border-radius: 50% !important;
  background: $theme-blue !important;
}

// Profile
.profile .MuiInputBase-input.Mui-disabled {
  color: #000 !important;
}

/* iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .bgWrapper {
    background-position: left !important;
  }

  // Product Info Page
  .MuiCard-root {
    min-height: 420px !important;
  }
  .MuiCard-root.suggestionCards {
    min-height: 400px !important;
  }
  .MuiImageList-root {
    margin: -6px 10px 35px 10px !important;
  }
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.infoImg {
    text-align: center !important;
  }
  .MuiImageList-root.suggestionImgList {
    margin: 0 !important;
  }
  .MuiNativeSelect-iconOutlined {
    color: #ffffff;
  }
  .MuiGrid-grid-sm-3 {
    height: 460px !important;
  }
}

/* iPhone Plus Portrait and Landscape */
@media screen and (max-device-width: 736px), screen and (max-width: 736px) {
  .closeIcon {
    right: 5rem !important;
  }
  .bgWrapper {
    padding-bottom: 0px !important;
  }

  // Mobile Menu
  .MuiAccordion-root:before {
    display: none !important;
  }

  // Product List
  .MuiCard-root {
    min-height: 480px !important;
  }
  .imgList .MuiGrid-root {
    height: 510px !important;
  }
}

// iPhone 5/SE
@media screen and (max-device-width: 420px), screen and (max-width: 420px) {
  .MuiImageList-root.imgList {
    margin: -6px 10px 35px !important;
  }
}

@media screen and (max-device-width: 370px), screen and (max-width: 370px) {
  .closeIcon {
    right: 4rem !important;
  }
}

@media screen and (max-device-width: 360px), screen and (max-width: 360px) {
  .closeIcon {
    right: 3.5rem !important;
  }
}

@media screen and (max-device-width: 350px), screen and (max-width: 350px) {
  .closeIcon {
    right: 3rem !important;
  }
}

// iPhone 5/SE
@media screen and (max-device-width: 320px), screen and (max-width: 320px) {
  .closeIcon {
    right: 1rem !important;
  }

  // Product Info
  .imgList {
    justify-content: center !important;
  }
  .imgList .MuiGrid-root {
    width: 90% !important;
  }
  .imgList .MuiGrid-grid-xs-6 {
    max-width: none !important;
    flex-basis: initial !important;
  }
  .imgList .MuiGrid-root {
    height: 545px !important;
  }
}
