.list {
  padding-bottom: 25px;
}

.list,
.suggestList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: max-content;
  margin-right: 15px;

  .cardMedia {
    width: 100%;
    height: auto;
  }

  .actions {
    justify-content: center;
  }
}

.popoverAdd {
  margin: 10px 30px 15px;
  padding: 10px 40px;
  color: #fff;
  background-color: #000;
}

// @media only screen and (min-device-width: 1285px),
//   screen and (min-width: 1285px) {
//   .list {
//     height: 100vh !important;
//   }
// }

/* iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 1) {
  .list {
    margin-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .actions {
    button {
      padding: 12px 35px !important;
    }
  }
}

/* iPhone Plus Portrait and Landscape */
@media screen and (max-device-width: 736px), screen and (max-width: 736px) {
  .actions {
    button {
      padding: 12px 35px !important;
    }
  }

  .list,
  .suggestList {
    flex-wrap: nowrap !important;
    overflow-x: hidden !important;
    margin-right: 0px !important;
  }

  .list {
    width: fit-content !important;
  }

  .suggestList {
    width: 630px !important;
  }

  .suggestionImgList div {
    max-width: 50% !important;
    height: 490px !important;
  }
}

@media screen and (max-device-width: 360px), screen and (max-width: 360px) {
  .actions button {
    padding: 12px 30px !important;
  }
}
