.navbar {
  border-bottom: 0.5px solid #d1d1d1;
  z-index: 999;

  .row,
  .menuCol,
  .signedIn {
    display: flex;
    flex-direction: row;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateY(-50%) !important;
  }

  .menu,
  .menuSelected {
    cursor: pointer;
    text-align: right;
    width: fit-content;
    margin: 25px 15px 25px 25px;
  }

  .menu {
    color: #000;

    &:hover {
      color: #155399 !important;
      font-weight: 500 !important;
      cursor: pointer;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 14px;
    //   height: 1px;
    //   background-color: #155399;
    //   bottom: -17px;
    //   left: 50%;
    //   margin-left: -7px;
    //   opacity: 0;
    //   -webkit-transition: opacity 0.3s ease;
    //   -moz-transition: opacity 0.3s ease;
    //   -o-transition: opacity 0.3s ease;
    //   -ms-transition: opacity 0.3s ease;
    //   transition: opacity 0.3s ease;
    // }
  }

  .menuSelected {
    color: #155399;
    font-weight: 500;
  }
}

/*** SignedInNav ***/
.signedIn {
  justify-content: center;
  align-items: center;

  .userWelcomeMsg {
    display: flex;
    justify-content: center;

    .icon {
      margin: 12px 0px 10px 5px;
    }
  }

  .signOut {
    cursor: pointer;
    margin-left: 15px;
    &:hover {
      color: #155399;
    }
  }

  .settings {
    padding-bottom: 5px;
    height: 1.8rem !important;
  }
}

/* iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .menu,
  .menuSelected {
    margin: 25px 10px 25px 15px !important;
  }

  .icon {
    margin-top: 27px !important;
  }

  .settings {
    margin-left: 12px !important;
    margin-right: 2px !important;
  }
}

/* iPhone Plus Portrait and Landscape */
@media screen and (max-device-width: 736px), screen and (max-width: 736px) {
  .userWelcomeMsg {
    display: none !important;
  }

  .logo {
    left: 43% !important;
  }
}

// iPhone 5/SE
@media screen and (max-device-width: 320px), screen and (max-width: 320px) {
  .menu {
    margin: 25px 8px 25px 15px !important;
  }
}
