@import "./variables";

.layout {
  margin: 15px 15px 50px;
  color: #ffffff;

  img {
    margin: 10px 15px;
  }

  label {
    font-size: 18px;
  }

  .select {
    min-width: 120px;
    margin: 5px 15px;
    border-radius: 4px;
    color: #ffffff;

    select {
      padding: 12px 20px;
    }
  }

  .qty {
    min-width: 120px;
    padding: 5px;
    margin: 0 15px;
    font-size: 16px;
    border: 1px solid $text-color;
    border-radius: 2px;
  }
}

.suggestions {
  margin: 25px 50px 80px;
  color: #ffffff;
}

/* iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 1) {
  .layout {
    margin-bottom: 30px !important;

    img {
      max-width: 80% !important;
      height: auto !important;
    }
  }

  .suggestions {
    margin-bottom: 0px !important;
  }
  // .suggestionCards.MuiCard-root {
  //   min-height: 420px !important;
  // }
}

/* iPhone Plus Portrait and Landscape */
@media screen and (max-device-width: 736px), screen and (max-width: 736px) {
  .layout img {
    height: 450px !important;
  }

  .layout .details {
    margin-left: 1.5rem !important;
  }

  .suggestions {
    margin: 25px 35px 80px !important;
    overflow-x: hidden !important;
  }
}

@media screen and (max-device-width: 400px), screen and (max-width: 400px) {
  .layout img {
    height: 390px !important;
  }
}
