@import "./_variables.scss";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin,
.success,
.cardWrapper {
  margin: 0;
  // position: relative;
  // background-size: cover;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  @include flexColCenter();
  justify-content: flex-start;
}

.card {
  width: 50%;
  position: absolute;
  // left: 50%;
  // top: 40%;
  // transform: translate(-50%, -50%) !important;
  height: 500px;
  margin-top: 100px;

  .tabs {
    margin-top: 15px;

    .tab {
      margin: 10px 10px 0;
      width: 100% !important;
    }
  }

  .form {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    @include flexColCenter();
    padding: 15px 40px;

    .input {
      width: 60%;
      margin: 0 0 25px;
      font-family: $custom-font !important;
    }
  }
}

.datePicker {
  @include flexColCenter();
  // flex-direction: column;
  // align-items: center;
  animation: fadeIn 0.5s linear;

  input {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
  }
}

.cardWrapper {
  width: 100%;
}

.success {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.successPopup {
  z-index: 1000;
  color: #555555;
  background-color: #ffffff;
  text-align: center;
  width: 320px;
  height: 140px;
  padding: 35px 50px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 5px 7px 3px rgba(0, 0, 0, 0.3);
}

// Profile
.profile {
  margin: 50px 120px;

  .inputDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    label {
      margin: 10px 15px;
    }
  }

  .inputCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // align-items: flex-end;

    input {
      margin: 10px 15px;
    }
  }

  .pInput {
    outline: 0 !important;
    border-width: 0 0 1px !important;
  }

  .err {
    color: #ff5050;
    font-size: 13px;
    margin: 0 15px;
  }
}

/* iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .card {
    width: 80% !important;
  }

  .profile .signin {
    width: 550px !important;
  }
}

/* iPhone Plus Portrait and Landscape */
@media screen and (max-device-width: 736px), screen and (max-width: 736px) {
  .card {
    width: 90% !important;

    .tabs {
      // span {
      //   left: 28px !important;
      //   width: 150px !important;
      // }

      .tab {
        width: 45% !important;
      }
    }

    .form {
      padding: 15px 0 !important;
    }
  }

  .profile {
    margin: 50px 20px !important;

    .signin {
      width: 390px !important;
      padding-left: 50px 20px !important;
    }
  }
}
