@import "./_variables.scss";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.signin,
.success,
.cardWrapper {
  margin: 0;
  position: relative;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

// .signin {
//   // margin: 0;
//   background: linear-gradient(
//       rgba(255, 255, 255, 0.1),
//       rgba(255, 255, 255, 0.1)
//     ),
//     url("/assets/images/landing/landing_bg.jpg") fixed no-repeat center;
//   // position: relative;
//   // background-size: cover;
//   // min-height: 100vh;

//   // display: flex;
//   // flex-direction: column;
//   // justify-content: flex-start;
//   // align-items: center;
// }

.card {
  width: 50%;
  position: absolute;
  // left: 50%;
  // top: 40%;
  // transform: translate(-50%, -50%) !important;
  height: 500px;
  margin-top: 100px;

  .tabs {
    margin-top: 15px;

    .tab {
      margin: 10px 10px 0;
      width: 100% !important;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 40px;

    .input {
      width: 60%;
      margin: 0 0 25px;
      font-family: $custom-font !important;
    }
  }
}

.datePicker {
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s linear;

  input {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
  }
}

.cardWrapper {
  width: 100%;
}

.success {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.successPopup {
  z-index: 1000;
  color: #555555;
  background-color: #ffffff;
  text-align: center;
  width: 320px;
  height: 140px;
  padding: 35px 50px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 5px 7px 3px rgba(0, 0, 0, 0.3);
}

/* iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .card {
    width: 80% !important;
  }
}
